<!doctype html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="css/styles.css"/>
  <link rel="icon" href="img/weather.png">
</head>
  {{>header}}
  <div id="content">
  <img src="img/756_1000.jpg">
  </div>
   {{>footer}}
</body>
</html>