<!doctype html>
<html>
<head>
  <title>Help</title>
  <link rel="stylesheet" href="css/styles.css"/>
  <link rel="icon" href="img/weather.png">
</head>
<body>
  {{>header}}
  <div id="content">
  <p class="err">{{message}}</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante sapien, dapibus eget tortor et, gravida efficitur nisl. Morbi tempor nisi purus, ac interdum leo mollis convallis. Praesent semper tincidunt nisl, vitae imperdiet justo euismod at. Aliquam rutrum purus eget nisi vestibulum, sed elementum magna iaculis. Cras tempor orci quis lacinia laoreet. Nulla hendrerit dapibus mi, a ornare enim faucibus sit amet. Sed fringilla, ipsum sit amet scelerisque suscipit, nulla augue venenatis ligula, ut condimentum nisi libero eget ex. Morbi dignissim felis eu aliquet varius. Praesent ac enim non augue elementum aliquet. Praesent condimentum ultrices turpis eu eleifend. Praesent finibus vulputate nulla nec pretium. Vivamus cursus sem vel laoreet fringilla. Quisque rhoncus eget tellus quis convallis. Aenean eu magna quis purus ornare vestibulum vitae a sapien. Cras et metus nisl.</p>
  <p>Proin congue tellus et pulvinar posuere. Quisque dictum lacus ante, in lacinia nunc vulputate vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam malesuada molestie nulla, ut tempus mi vehicula at. Aliquam imperdiet rhoncus magna, at malesuada libero interdum et. Phasellus leo est, consequat vitae urna vel, commodo eleifend elit. Quisque vitae tristique ligula, et placerat odio. Ut dolor nisl, hendrerit a tortor non, accumsan efficitur risus. Curabitur placerat aliquam magna vel placerat. Quisque interdum dignissim pharetra.</p>
  <p>In hac habitasse platea dictumst. Nulla eget tincidunt mauris. Nulla nulla orci, vehicula non laoreet et, suscipit in augue. Aenean tincidunt arcu ligula, a suscipit diam malesuada in. Vestibulum tempus turpis quis condimentum consequat. Aenean non blandit leo. Phasellus nec dolor arcu. Fusce porttitor diam in consectetur volutpat. Sed et velit sagittis, malesuada sapien sit amet, maximus dui.</p>
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi dictum eros eget nisi tempus, id faucibus libero rhoncus. Sed sed felis hendrerit augue cursus cursus. Nam eu mattis enim. Morbi fringilla vehicula ex, sit amet bibendum tortor convallis ornare. Quisque lacinia nisl turpis, eget efficitur sem condimentum et. Sed pellentesque justo eget mauris efficitur rhoncus a vitae tellus. Morbi luctus massa pharetra metus luctus bibendum. Nulla facilisi. Curabitur ut sem scelerisque, fringilla massa nec, placerat metus. Aliquam erat volutpat. Donec velit mauris, tincidunt in aliquam non, viverra sit amet ex. Nunc accumsan massa ut auctor feugiat.</p>
  <p>Duis aliquam diam blandit sodales scelerisque. Nunc a condimentum sapien. Phasellus porttitor odio non laoreet suscipit. Suspendisse ut rutrum ex. Donec sit amet ultricies erat. Ut rutrum magna sit amet ultricies cursus. Maecenas consequat nunc id lectus aliquam, in euismod nulla congue. Praesent egestas nisl vel tincidunt eleifend.</p>
 </div>
 {{>footer}}

</body>
</html>