<!doctype html>
<html>
  <head>
   <link rel="stylesheet" href="/css/styles.css"/>
   <link rel="icon" href="img/weather.png">
  </head>
  <body>
    {{>header}}
    <div id='content'>
    <p>{{message}}</p>
    <img src="/img/821_1000.jpg">
    </div>
    {{>footer}}


  </body>
</html>